
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC Eğitim Kampı Tablo Örneği</h3>
<br />
<table  class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>

    <tr>
        <th>1</th>
        <th>Sinema</th>
        <th>Açıklama Yapıldı</th>
        <th>True</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Spor</th>
        <th>Açıklama Yapıldı</th>
        <th>True</th>
    </tr>
    <tr>
        <th>3</th>
        <th>Eğitim</th>
        <th>Açıklama Yapıldı</th>
        <th>True</th>
    </tr>
</table>
